$padding: 18px;
$border-radius: 50px;
$spacing: 10px;

.toast__container {
  position: fixed;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: $padding;
  transition: all 0.3s ease-in-out;
  border-radius: $border-radius;
  z-index: 100;
  .toast__close_wrapper {
    border: none;
    outline: none;
    background-color: inherit;
    padding: 0 0 0 $spacing;
    display: flex;
    align-items: center;
    color: inherit;
  }
}

@media screen and (max-width: 980px) {
  .toast__container {
    width: 90%;
  }
}

.toast__open {
  bottom: 0%;
}

.loader {
  animation: rotate 0.2s linear 0 infinite forwards;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
